body {
    background: none repeat scroll 0 0 #F2C6DE
}

#button1{
    background-color: white; 
    border: 30px solid white; 
    border-radius: 12px; 
    color: black; 
    padding: 15px 15px; 
    text-align: center; 
    font-family: Optima, sans-serif; 
    font-size:30px; 
    margin-right: 20px;
}

#button2{
    background-color: white; 
    border: 30px solid white; 
    border-radius: 12px; 
    color: black; 
    padding: 15px 32px; 
    text-align: center; 
    font-family: Optima, sans-serif; 
    font-size:30px; 
}

#button3{
    background-color: white; 
    border: 30px solid white; 
    border-radius: 12px; 
    color: black; 
    padding: 15px 32px; 
    text-align: center; 
    font-family: Optima, sans-serif; 
    font-size:30px; 
    margin-left: 20px; 
}

h1 {
    text-align: center; 
    font-family: avenir black; 
    font-size: 36px; 
}

h2 {
    text-align: center; 
    font-family: avenir black; 
    font-size: 20px; 
}

#content{
    margin-left: 375px; 
}

#popup {
    display: none;
    position: fixed;
    padding: 10px;
    width: 280px;
    left: 50%;
    margin-left: -150px;
    height: 180px;
    top: 50%;
    margin-top: -100px;
    background: #FFF;
    border: 3px solid #F04A49;
    z-index: 20;
}
  
#popup:after {
    position: fixed;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0,0,0,0.5);
    z-index: -2;
}
  
#popup:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #FFF;
    z-index: -1;
}