body {
    background: none repeat scroll 0 0 #FAEDCB
}

#button1{
    background-color: white; 
    border: 30px solid white; 
    border-radius: 12px; 
    color: black; 
    padding: 15px 35px; 
    text-align: center; 
    font-family: Optima, sans-serif; 
    font-size:30px; 
    margin-right: 20px;
}

#button2{
    background-color: white; 
    border: 30px solid white; 
    border-radius: 12px; 
    color: black; 
    padding: 15px 40px; 
    text-align: center; 
    font-family: Optima, sans-serif; 
    font-size:30px; 
}

#button3{
    background-color: white; 
    border: 30px solid white; 
    border-radius: 12px; 
    color: black; 
    padding: 15px 15px; 
    text-align: center; 
    font-family: Optima, sans-serif; 
    font-size:30px; 
    margin-left: 20px; 
}

h1 {
    text-align: center; 
    font-family: avenir black; 
    font-size: 36px; 
}

h2 {
    text-align: center; 
    font-family: avenir black; 
    font-size: 20px; 
}

.centerflex{
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
    width: 100%;
    flex-direction: column;
    align-content: center;
}