body {

  background:none repeat scroll 0 0 #DBCDF0;

}
#banner {
  height:100px;
  width:100%;
font-family: Avenir Black;
font-size: 25px;
text-align: center;
padding-right: 200px;
}

#body {
      font-size: 20px;
      padding-left: 40px;
      font-family: Optima, sans-serif;
            padding-bottom: 30px;
  }

#col1 {
  height: 400px;
  width: 25%;
  float: left;
  font-size: 22px;
  padding-left: 50px;
  font-family: Optima, sans-serif;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;

}



#col2 {
  height: 400px;
  width: 16%;
  float: left;
position: relative;
max-width: 150px ;
display: flex;
    flex-direction: column;

}
  #col2 img {
    height: 150px;
    object-fit: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }

  #col3 {
    height: 400px;
    width: 25%;
    float: left;
    font-size: 22px;
    padding-left: 30px;
    font-family: Optima, sans-serif;
        padding-bottom: 30px;
        display: flex;
    flex-direction: column;
  }

  #col4 {
    height: 400px;
    width: 16%;
    float: left;
    position: relative;
    max-width: 150px ;
    display: flex;
    flex-direction: column;
  }
  #col4 img {
    height: 150px;
    max-width: 100px;

    object-fit: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }



#footer {
  padding-top: 200px;
  padding-left: 40px;
  font-size: 25px;
  font-family: Optima, sans-serif;
  text-align: center;
}

#content{
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}

.centerflex{
  display: flex;
  justify-content: center;
  flex-wrap: wrap; 
  width: 100%;
  flex-direction: column;
  align-content: center;
}