body {
    background: none repeat scroll 0 0 #DBCDF0
}


h1 {
    text-align: center; 
    font-family: avenir black; 
    font-size: 36px; 
}

h2 {
    text-align: center; 
    font-family: avenir black; 
    font-size: 20px; 
}

#content{
    margin-left: 570px; 
}

.centerflex{
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
    width: 100%;
    flex-direction: column;
    align-content: center;
}

img{
    margin-top: 45px;
    max-height: 400px;
}