body {

  background:none repeat scroll 0 0 #DBCDF0;

}
#banner {
  height:100px;
  width:2000px;
font-family: Avenir Black;
font-size: 25px;
padding-left: 250px;
}

#body {
      font-size: 20px;
      padding-left: 40px;
      font-family: Optima, sans-serif;
            padding-bottom: 30px;
  }

#col1 {
  height: 400px;
  width: 25%;
  float: left;
  font-size: 22px;
  padding-left: 50px;
  font-family: Optima, sans-serif;
    padding-bottom: 30px;

}



#col2 {
  height: 400px;
  width: 16%;
  float: left;
position: relative;
max-width: 150px ;
}
  #col2 img {
    height: 150px;
  }

  #col3 {
    height: 400px;
    width: 25%;
    float: left;
    font-size: 22px;
    padding-left: 30px;
    font-family: Optima, sans-serif;
        padding-bottom: 30px;
  }

  #col4 {
    height: 400px;
    width: 16%;
    float: left;
  }
  #col4 img {
    max-height: 170px;
    float: left;
  position: relative;
  max-width: 130px ;
  }



#footer {
  padding-top: 90px;
  padding-left: 40px;
  font-size: 25px;
  font-family: Optima, sans-serif;
    float: left;
}